@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.image-upload {
  background-color: #6dc4bf;
  padding: 50px;
  margin: 20px;
  cursor: pointer;
  color: white;
  display: block;
}

.image-upload:hover {
  background-color: rgba(109, 196, 191, 0.59);
}

/* ------------ Form Styles ------------ */
.form-title {
  font-size: 20px;
}
